<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lexer Tester</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body class="custom-background">
    <h1>Lexer Tester</h1>
    <div class="input-container">
        <div class="text-area-container">
            <textarea id="code" rows="4" cols="50"></textarea>
        </div>
        <div class="button-container">
            <button onclick="analyzeCode()">Analyze</button>
            <button onclick="clearTextarea()">Clear</button>
            <label class="file-label">
                Load File
                <input type="file" id="fileInput" accept=".txt" onchange="loadFile()">
            </label>
        </div>
    </div>
    <div id="resultContainer" class="result-scroll">
    </div>
    <script>
        function analyzeCode() {
            const code = document.getElementById('code').value;

            fetch('/api/v1/lexer', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ code: code }),
            })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('HTTP error! Status: ${response.status}');
                    }
                    return response.text();
                })
                .then(data => {
                    document.getElementById('resultContainer').innerHTML = data;
                })
                .catch(error => console.error('Error:', error));
        }

        function clearTextarea() {
            document.getElementById('code').value = '';
            document.getElementById('resultContent').innerHTML = '';
        }

        function loadFile() {
            const fileInput = document.getElementById('fileInput');
            const file = fileInput.files[0];
            const reader = new FileReader();
            
            reader.onload = function (e) {
                document.getElementById('code').value = e.target.result;
            }
            
            reader.readAsText(file);
        }
    </script>
</body>

</html>
